<%= form_for(@force) do |f| %>
  <% if @force.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@force.errors.count, "error") %> prohibited this force from being saved:</h2>

      <ul>
      <% @force.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Person %><br>
    <%= f.text_field :Person %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :mail %><br>
    <%= f.text_field :mail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
