<p id="notice"><%= notice %></p>

<h1>Listing Forces</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>User</th>
      <th>Mail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forces.each do |force| %>
      <tr>
        <td><%= force.Person %></td>
        <td><%= force.user %></td>
        <td><%= force.mail %></td>
        <td><%= link_to 'Show', force %></td>
        <td><%= link_to 'Edit', edit_force_path(force) %></td>
        <td><%= link_to 'Destroy', force, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Force', new_force_path %>
