<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @force.Person %>
</p>

<p>
  <strong>User:</strong>
  <%= @force.user %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @force.mail %>
</p>

<%= link_to 'Edit', edit_force_path(@force) %> |
<%= link_to 'Back', forces_path %>
