<div align=center>
	<h1>Feisbuk</h1>
</div>

<h1>Nombre</h1><input type="text" name="nombre" value="" />
<h1>Clave:</h1><input type="text" name="nombre" value="" />
<input type="button" name="Inviar" value="" />